@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #222;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50vw;
}

.info {
  display: flex;
  background: #42275a;
  border-radius: 10px;
}

.hidden {
  display: none;
}

label {
  padding: 20px 30px;
  width: 100%;
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

label .hidden {
  margin-top: 20px;
}

.info #home:checked + label .hidden,
.info #settings:checked + label .hidden,
.info #security:checked + label .hidden {
  display: block;
}

.bx {
  transition: transform 0.2s linear;
}

.info #home:checked + label .bx,
.info #settings:checked + label .bx,
.info #security:checked + label .bx {
  transform: rotate(180deg);
}
